<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1Sn3dHtk3jsxOcU0X-QwXoRhnnstFqNo</string>
	<key>GCM_SENDER_ID</key>
	<string>120051840848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CareGuide.CareGuide</string>
	<key>PROJECT_ID</key>
	<string>careguide-3a10c</string>
	<key>STORAGE_BUCKET</key>
	<string>careguide-3a10c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120051840848:ios:479370403785a72ef2de55</string>
</dict>
</plist>